<div class="header">
  <div class="container">
    <img src="https://content.codecademy.com/courses/learn-rails/img/logo-1tm.svg" width="80">
    <h1>BokenjiKan</h1>
  </div>
</div>

<div class="destination">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag @destination.image, size: "200x400", class: "img-thumbnail" %>
      </div>
      <div class="col-md-6">
        <%= form_for @destination do |destination| %>
          <div class="form-group">
            <%= destination.label :name %>
            <%= destination.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= destination.label :image %>
            <%= destination.text_field :image, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= destination.label :description %>
            <%= destination.text_field :description, class: "form-control" %>
          </div>
          <%= destination.submit "Update", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
