<!-- app/views/destinations/new.html.erb -->
<div class="header">
  <div class="container">
    <img src="https://content.codecademy.com/courses/learn-rails/img/logo-1tm.svg" width="80">
    <h1>BokenjiKan</h1>
  </div>
</div>

<div class="destination">
  <div class="container">
    <h2>Add a new destination</h2>
    <%= form_with(model: @destination, url: destinations_path, method: :post) do |form| %>
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
      <div class="field">
        <%= form.label :image %>
        <%= form.text_field :image %>
      </div>
      <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description %>
      </div>
      <div class="field">
        <%= form.label :tag_id %>
        <%= form.collection_select :tag_id, Tag.all, :id, :title %>
      </div>
      <div class="actions">
        <%= form.submit "Create Destination" %>
      </div>
    <% end %>
  </div>
</div>
